### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
target/
**/target/
.idea/
**/*.iml
.classpath
.project
.settings/
.vscode/
*.log
*.tmp
*.swp

target/
.mvn/wrapper/maven-wrapper.jar 
.idea/
.classpath
.project
.settings/
.vscode/
*.log
*.iml
out/
bin/